body {
  overflow: hidden;
	color: white;
}

.container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 25%; */
  margin: 10%;
}


.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	align-items: center;
}

.card {
	padding: 1rem;
	text-align: center;
	border: 1px solid #eaeaea;
	border-radius: 20px;
	transition: color 0.15s ease, border-color 0.15s ease;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card:hover,
.card:focus,
.card:active {
	color: #0070f3;
	border-color: #0070f3;
}

@media (max-width: 600px) {

	.grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.card {
		min-width: 90%;
		max-width: 90%;
	}
}
