* {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	/* -webkit-font-smoothing: antialiased; */
}


:root {
	--main-bg-color:                 rgb(14, 15, 16);
	--main-button-color:             rgb(14, 15, 16);
	--main-button-color-hover:       rgb(30, 30, 30);

	--main-text-color:               rgb(156, 156, 156);
	--main-text-color-hover:         rgb(255, 255, 255);
	--main-text-color-hover-glow-white:rgb(205, 205, 205);
	--main-text-color-hover-glow-blue:rgb(166, 209, 211);

	--main-bg-color_shadow:          rgb(  0,   0,   0);
	--main-bg-color_highlight:       rgb( 93,  93,  93);

	--main-border-color:             rgb(255, 255, 255);
	--main-transition-time:                         0.25s;
}

html,
body,
#root {
	background-color: var(--main-bg-color);
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.loader {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
