.instructions {
    color: white;
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: 1.5rem;
	z-index: 10000;
    line-height: 2rem;
    background-color: transparent;
    
}

.mouse {
    background-color: transparent;
    display: inline-flex;
}

.instructions.mobile {
    inline-size: 50%;
    display: inline;
}

svg {
    background-color: transparent;

    fill:var(--main-text-color-hover);
    height: 2rem;
    min-width: 2rem;
    max-width: 2rem;
    padding-right: 10px;
}

.left #left {
    fill:var(--main-bg-color_highlight);
}

.wheel #wheel {
    fill:var(--main-bg-color_highlight);
}

.right #right {
    fill:var(--main-bg-color_highlight);
}